.margin {
  color:red;
width: 200px; 
  padding: 5px;
}

.green{
color: green;
}

.blue{
color: blue;
}

.maroon{
color: maroon;
}

.red{
color: red;
}

.cursive{
font-family: cursive;
}

.darkblue{
  color: DarkBlue;
}

.teal{
  color: teal;
}
